/* You can add global styles to this file, and also import other style files */
html, body {
  background: #0f0f10;
  margin: 0;
  color: white;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}
